In [1]:
import math
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)
import mysql.connector

In [2]:
#df = pd.read_csv('BC-climate-monthly.csv')
#df = pd.read_csv('AB-climate-monthly.csv')
#df = pd.read_csv('SK-climate-monthly.csv')
#df = pd.read_csv('MB-climate-monthly.csv')
#df = pd.read_csv('ON-climate-monthly.csv')
#df = pd.read_csv('QC-climate-monthly.csv')
#df = pd.read_csv('NB-climate-monthly.csv')
#df = pd.read_csv('NS-climate-monthly.csv')
#df = pd.read_csv('NL-climate-monthly.csv')
#df = pd.read_csv('PE-climate-monthly.csv')

In [3]:
df

,x,y,LATITUDE,LONGITUDE,STATION_NAME,CLIMATE_IDENTIFIER,ID,LOCAL_DATE,LAST_UPDATED,PROVINCE_CODE,...,DAYS_WITH_PRECIP_GE_1MM,NORMAL_SNOWFALL,TOTAL_SNOWFALL,DAYS_WITH_VALID_SNOWFALL,SNOW_ON_GROUND_LAST_DAY,NORMAL_SUNSHINE,BRIGHT_SUNSHINE,DAYS_WITH_VALID_SUNSHINE,COOLING_DEGREE_DAYS,HEATING_DEGREE_DAYS
0,-64.016667,46.850000,46.850,-64.017,ALBERTON,8300080,6519.2000.1,2000-01,2014-07-31 11:53:12,PE,...,18.0,73.60,98.4,31,NaN,NaN,NaN,NaN,0.0,755.8
1,-64.016667,46.850000,46.850,-64.017,ALBERTON,8300080,6519.2000.2,2000-02,2014-07-31 11:53:12,PE,...,6.0,56.04,75.6,29,NaN,NaN,NaN,NaN,0.0,708.8
2,-64.016667,46.850000,46.850,-64.017,ALBERTON,8300080,6519.2000.3,2000-03,2014-07-31 11:53:12,PE,...,12.0,48.26,35.6,31,NaN,NaN,NaN,NaN,0.0,554.9
3,-64.016667,46.850000,46.850,-64.017,ALBERTON,8300080,6519.2000.4,2000-04,2014-07-31 11:53:12,PE,...,12.0,21.81,1.6,30,0.0,NaN,NaN,NaN,0.0,436.1
4,-64.016667,46.850000,46.850,-64.017,ALBERTON,8300080,6519.2000.5,2000-05,2014-07-31 11:53:12,PE,...,13.0,1.84,0.0,31,0.0,NaN,NaN,NaN,0.0,323.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,-63.169736,46.343617,46.344,-63.170,HARRINGTON CDA CS,830P001,30308.2021.5,2021-05,2021-06-01 11:31:49,PE,...,10.0,NaN,NaN,0,NaN,NaN,NaN,0.0,0.2,296.4
2876,-63.169736,46.343617,46.344,-63.170,HARRINGTON CDA CS,830P001,30308.2021.6,2021-06,2021-07-01 11:32:43,PE,...,6.0,NaN,NaN,0,NaN,NaN,NaN,0.0,31.8,51.0
2877,-63.169736,46.343617,46.344,-63.170,HARRINGTON CDA CS,830P001,30308.2021.7,2021-07,2021-08-31 14:46:05,PE,...,8.0,NaN,NaN,0,NaN,NaN,NaN,0.0,23.7,37.1
2878,-63.169736,46.343617,46.344,-63.170,HARRINGTON CDA CS,830P001,30308.2021.8,2021-08,2021-09-01 11:30:49,PE,...,5.0,NaN,NaN,0,NaN,NaN,NaN,0.0,83.6,10.2
2879,-63.169736,46.343617,46.344,-63.170,HARRINGTON CDA CS,830P001,30308.2021.9,2021-09,2021-10-20 14:46:11,PE,...,8.0,NaN,NaN,0,NaN,NaN,NaN,0.0,8.7,71.2

In [4]:
df.columns

Index(['x', 'y', 'LATITUDE', 'LONGITUDE', 'STATION_NAME', 'CLIMATE_IDENTIFIER',
       'ID', 'LOCAL_DATE', 'LAST_UPDATED', 'PROVINCE_CODE',
       'ENG_PROVINCE_NAME', 'FRE_PROVINCE_NAME', 'LOCAL_YEAR', 'LOCAL_MONTH',
       'NORMAL_MEAN_TEMPERATURE', 'MEAN_TEMPERATURE',
       'DAYS_WITH_VALID_MEAN_TEMP', 'MIN_TEMPERATURE',
       'DAYS_WITH_VALID_MIN_TEMP', 'MAX_TEMPERATURE',
       'DAYS_WITH_VALID_MAX_TEMP', 'NORMAL_PRECIPITATION',
       'TOTAL_PRECIPITATION', 'DAYS_WITH_VALID_PRECIP',
       'DAYS_WITH_PRECIP_GE_1MM', 'NORMAL_SNOWFALL', 'TOTAL_SNOWFALL',
       'DAYS_WITH_VALID_SNOWFALL', 'SNOW_ON_GROUND_LAST_DAY',
       'NORMAL_SUNSHINE', 'BRIGHT_SUNSHINE', 'DAYS_WITH_VALID_SUNSHINE',
       'COOLING_DEGREE_DAYS', 'HEATING_DEGREE_DAYS'],
      dtype='object')

In [5]:
df[['CLIMATE_IDENTIFIER', 'LOCAL_YEAR', 'LOCAL_MONTH', 'MEAN_TEMPERATURE', 'MIN_TEMPERATURE', 'MAX_TEMPERATURE', \
   'TOTAL_PRECIPITATION', 'STATION_NAME']]

,CLIMATE_IDENTIFIER,LOCAL_YEAR,LOCAL_MONTH,MEAN_TEMPERATURE,MIN_TEMPERATURE,MAX_TEMPERATURE,TOTAL_PRECIPITATION,STATION_NAME
0,8300080,2000,1,-6.380645,-22.0,10.7,145.9,ALBERTON
1,8300080,2000,2,-6.441379,-25.4,9.6,80.6,ALBERTON
2,8300080,2000,3,0.100000,-9.4,12.7,68.2,ALBERTON
3,8300080,2000,4,3.463333,-5.0,14.4,92.0,ALBERTON
4,8300080,2000,5,7.561290,-2.0,19.1,110.9,ALBERTON
...,...,...,...,...,...,...,...,...
2875,830P001,2021,5,8.445161,-0.3,25.3,75.0,HARRINGTON CDA CS
2876,830P001,2021,6,17.360000,3.6,31.3,83.2,HARRINGTON CDA CS
2877,830P001,2021,7,17.521429,10.1,27.9,142.7,HARRINGTON CDA CS
2878,830P001,2021,8,20.367742,10.8,30.6,29.5,HARRINGTON CDA CS
2879,830P001,2021,9,15.844828,4.9,25.4,215.8,HARRINGTON CDA CS

In [6]:
connection = mysql.connector.connect(user='root', password='your_password', host='127.0.0.1', database='field_crops')
cursor = connection.cursor()

add_observation = ("INSERT INTO observation "
               "(climate_ID, year, month, mean_temperature, maximum_temperature, minimum_temperature, precipitation ) "
               "VALUES (%s, %s, %s, %s, %s, %s, %s)")

#a = 1

for i in range(0, len(df)):

    record = df.iloc[i]
    
    climate_ID = str(record.CLIMATE_IDENTIFIER)
    if ((len(climate_ID) != 7) \
        #British Columbia
        | (climate_ID == '1018633') | (climate_ID == '1107710') | (climate_ID == '1135126') \
        #Alberta
        | (climate_ID == '3026264') | (climate_ID == '306E304') | (climate_ID == '30705E9') \
        #Saskatchewan
        | (climate_ID == '4038116') | (climate_ID == '4038740') \
        #Manitoba
        | (climate_ID == '5020881')| (climate_ID == '5020882') | (climate_ID == '5022065') \
        | (climate_ID == '50420E5') \
        #Ontario
        | (climate_ID == '6020559') | (climate_ID == '611E001') | (climate_ID == '6134F10') \
        | (climate_ID == '6135657') | (climate_ID == '6136699') | (climate_ID == '6137937') \
        | (climate_ID == '613KLLM') | (climate_ID == '615S002') \
        #Quebec
        | (climate_ID == '7018560') \
        #New Brunswick
        #Nova Scotia
        #Newfoundland Labrador
        #Prince Edward Island
       ):
        continue
        #print(climate_ID)
        #climate_ID = 'AAAAAA' + str(a)
        #a += 1
    
    year = int(record.LOCAL_YEAR)
    month = int(record.LOCAL_MONTH)
    mean_temperature = float(record.MEAN_TEMPERATURE)
    maximum_temperature = float(record.MAX_TEMPERATURE)
    minimum_temperature = float(record.MIN_TEMPERATURE)
    precipitation = float(record.TOTAL_PRECIPITATION)
   
    if(math.isnan(mean_temperature)):
        mean_temperature = None
    if(math.isnan(maximum_temperature)):
        maximum_temperature = None
    if(math.isnan(minimum_temperature)):
        minimum_temperature = None
    if(math.isnan(precipitation)):
        precipitation = None
    elif(precipitation < 0):
        precipitation = 0
        
    data_observation = (climate_ID, year, month, mean_temperature, maximum_temperature, minimum_temperature, \
                        precipitation)
    
    cursor.execute(add_observation, data_observation)
    connection.commit()


cursor.close()
connection.close()

In [8]:
# conda install requests

# import requests

In [13]:
# response = requests.get('https://power.larc.nasa.gov/api/temporal/monthly/point?parameters=ALLSKY_SFC_PAR_TOT&community=AG&longitude=-123.3920&latitude=48.5730&format=JSON&start=2010&end=2020')

In [15]:
# response.json()

{'type': 'Feature',
 'geometry': {'type': 'Point', 'coordinates': [-123.392, 48.573, 52.13]},
 'properties': {'parameter': {'ALLSKY_SFC_PAR_TOT': {'201001': 16.38,
    '201002': 34.88,
    '201003': 56.23,
    '201004': 75.7,
    '201005': 94.61,
    '201006': 106.04,
    '201007': 130.34,
    '201008': 101.22,
    '201009': 64.44,
    '201010': 44.47,
    '201011': 19.34,
    '201012': 14.2,
    '201013': 63.35,
    '201101': 16.53,
    '201102': 31.36,
    '201103': 47.97,
    '201104': 73.89,
    '201105': 90.85,
    '201106': 104.55,
    '201107': 109.88,
    '201108': 107.91,
    '201109': 75.42,
    '201110': 39.46,
    '201111': 21.77,
    '201112': 15.34,
    '201113': 61.41,
    '201201': 15.31,
    '201202': 31.35,
    '201203': 49.55,
    '201204': 75.42,
    '201205': 104.85,
    '201206': 93.12,
    '201207': 114.36,
    '201208': 104.93,
    '201209': 85.83,
    '201210': 39.84,
    '201211': 19.55,
    '201212': 10.93,
    '201213': 62.19,
    '201301': 18.08,
    '201302': 28.54,
    '201303': 55.38,
    '201304': 75.58,
    '201305': 98.53,
    '201306': 112.19,
    '201307': 140.03,
    '201308': 95.73,
    '201309': 64.93,
    '201310': 46.79,
    '201311': 22.1,
    '201312': 15.27,
    '201313': 64.68,
    '201401': 18.66,
    '201402': 34.84,
    '201403': 52.98,
    '201404': 82.28,
    '201405': 103.33,
    '201406': 116.73,
    '201407': 125.77,
    '201408': 104.23,
    '201409': 77.58,
    '201410': 37.12,
    '201411': 25.59,
    '201412': 15.71,
    '201413': 66.39,
    '201501': 19.02,
    '201502': 33.05,
    '201503': 57.24,
    '201504': 86.35,
    '201505': 110.28,
    '201506': 136.93,
    '201507': 124.05,
    '201508': 102.59,
    '201509': 72.57,
    '201510': 39.42,
    '201511': 24.19,
    '201512': 12.18,
    '201513': 68.31,
    '201601': 17.72,
    '201602': 30.85,
    '201603': 55.42,
    '201604': 87.98,
    '201605': 106.2,
    '201606': 115.08,
    '201607': 117.04,
    '201608': 109.36,
    '201609': 75.3,
    '201610': 34.12,
    '201611': 18.13,
    '201612': 14.9,
    '201613': 65.27,
    '201701': 22.35,
    '201702': 32.29,
    '201703': 45.37,
    '201704': 74.62,
    '201705': 104.65,
    '201706': 115.79,
    '201707': 135.39,
    '201708': 109.76,
    '201709': 71.2,
    '201710': 46.75,
    '201711': 17.14,
    '201712': 16.58,
    '201713': 66.23,
    '201801': 15.16,
    '201802': 32.98,
    '201803': 56.95,
    '201804': 71.74,
    '201805': 119.55,
    '201806': 107.67,
    '201807': 133.19,
    '201808': 99.16,
    '201809': 70.2,
    '201810': 46.95,
    '201811': 23.46,
    '201812': 14.7,
    '201813': 66.22,
    '201901': 20.77,
    '201902': 32.8,
    '201903': 70.09,
    '201904': 78.46,
    '201905': 109.56,
    '201906': 124.91,
    '201907': 110.45,
    '201908': 100.43,
    '201909': 63.98,
    '201910': 43.16,
    '201911': 26.27,
    '201912': 10.9,
    '201913': 66.17,
    '202001': 14.71,
    '202002': 34.82,
    '202003': 61.06,
    '202004': 88.4,
    '202005': 103.53,
    '202006': 108.97,
    '202007': 120.64,
    '202008': 111.98,
    '202009': 69.04,
    '202010': 40.66,
    '202011': 20.93,
    '202012': 14.81,
    '202013': 65.9}}},
 'header': {'title': 'NASA/POWER CERES/MERRA2 Native Resolution Monthly and Annual',
  'api': {'version': 'v2.2.9', 'name': 'POWER Monthly and Annual API'},
  'fill_value': -999.0,
  'start': '20100101',
  'end': '20201231'},
 'messages': [],
 'parameters': {'ALLSKY_SFC_PAR_TOT': {'units': 'W/m^2',
   'longname': 'All Sky Surface PAR Total'}},
 'times': {'data': 0.688, 'process': 0.02}}